:root {
  --primary-color: #000000;
  --secondary-color: #f64c0d;
  --tertiary-color: #ede9dd;
}

.solutions-container {
  padding: 10rem 0;

  .main-header {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
  }
}

.solutions {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  text-align: center;
}

.white-card {
  height: max-content;
  border: 6px solid var(--secondary-color);
  padding: 4rem;
  font-size: 1.5rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--secondary-color);
  }
  p {
    padding: 1rem 0;
  }

  button {
    font-weight: 700;
    width: 100%;
    padding: 1rem;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
  }
}

.orange-card {
  padding: 4rem 4rem 6rem 4rem;
  font-size: 1.5rem;
  background: var(--secondary-color);
  color: var(--tertiary-color);

  h1 {
    font-weight: 700;
    font-size: 2.5rem;
  }
  p {
    padding: 1rem 0;
  }

  button {
    font-weight: 600;
    width: 100%;
    padding: 1rem;
    border: 6px solid var(--tertiary-color);
  }
}

/* impact section  */
.main-impact-container {
  background: var(--secondary-color);
}
.impact{
    padding-bottom: 8rem;
}

.impact .intro {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  img {
    height: 40vh;
  }

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .impact-text {
    color: var(--tertiary-color);
    font-size: 1.5rem;
    text-align: center;
    width: 70%;
  }
}
.impact-item {
  color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 6px solid var(--tertiary-color);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  margin-bottom: 0.8rem;
}

.impact-list{
    padding-bottom: 4rem;
}

.impact-link{
    text-decoration: underline;
    color: #ffde59;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

/* Difference section  */
.difference {
    padding: 8rem 0;
    font-size: 1.4rem;
    color: gray;
}

.difference .intro{
  padding: 6rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  width: 70%;
  margin: auto;
 


  img{
    height: 20vh;
  }

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    color: var(--primary-color);
  }
}

.points{
    width: 60%;
    margin: auto;
}

.point{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    .icons{
        height:3rem ;
        width: 3rem;
        margin: 1.5rem;
        color: rgb(68, 204, 68);
    }
}

.difference{
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button{
        color: var(--secondary-color);
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        width: 20%;
        padding: 1rem;
        border: 6px solid var(--secondary-color);
    }
}


/* Footer Section  */
.footer{
    border-top: 5px solid #c7bcbc;
    padding-top: 8rem;
    height: max-content;
    height: 45vh;

}
.footer-logo{
    padding-left: 10rem;
    padding-bottom: 3rem;
    img{
        width: 13rem;
    }
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    padding: 4rem 4rem 6rem 10rem;
    h1{
        font-weight: 700;
        font-size: 2rem;
        color: var(--tertiary-color);
        padding-bottom: 1.5rem;

    }
    span{
        color: var(--tertiary-color);
       b{
        font-size: 1.5rem;
       }
        i{
            font-size: 1.5rem;
        }
    }
}

.footer-reach{
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0 7.5rem;
    letter-spacing: 1px;
    text-align: right;

    .text{
        color: #756f6f;
        a{
            color: var(--secondary-color);
            text-decoration: underline;
        }
    }

    .icons{
        display: flex;
        gap: 1rem;
        color: var(--secondary-color);
        padding: 1.5rem 0;
        font-size: 3rem;
    }


}
.copyright{
    display: flex;
    align-items: center;
    color: #9e9494;
    font-weight: lighter;
    font-size: 1.4rem;
}

